<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Marketplace</h1>
<div>
    Sort by:
    <a th:href="@{/items(sortBy='date', dir='asc')}"
       th:classappend="${currentSort=='date' and currentDir=='asc'} ? 'active'">Date ↑</a> |
    <a th:href="@{/items(sortBy='date', dir='desc')}">Date ↓</a> |
    <a th:href="@{/items(sortBy='price', dir='asc')}">Price ↑</a> |
    <a th:href="@{/items(sortBy='price', dir='desc')}">Price ↓</a>
</div>

<table>
    <thead><tr><th>Name</th><th>Price</th><th>Date</th><th>Seller</th></tr></thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"/>
        <td th:text="${item.price}"/>
        <td th:text="${#temporals.format(item.submittionTime, 'yyyy-MM-dd')}"/>
        <td th:text="${item.user.username}"/>
    </tr>
    </tbody>
</table>
</body>
</html>
